name: Project Automation - Mover to Todo

on:
  issues:
    types: [assigned, unassigned]
    
jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - name: Move to TODO
        run: |
          ACTION="${{github.event.action}}"
          ISSUE_TITLE="${{github.event.issue.title}}"
          ISSUE_URL="${{github.event.issue.url}}"
          
          PROJECT_BOARD_ID=5484631
          PROJECT_TODO_COL_ID=10860613
          PROJECT_IN_PROGRESS_COL_ID=10860614
          PROJECT_DONE_COL_ID=10860615
          
          if [ "$ACTION" != "assigned" ]
          then
            echo "Not an assigned issue, bailing."
            exit 0
          fi

          echo "${{github.event.issue.labels}}"
