name: Project Automation - Mover to Todo

on:
  issues:
    types: [assigned, unassigned]
    
jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - name: Move to TODO
        run: |
          ACTION="${{github.event.action}}"
          ISSUE_TITLE="${{github.event.issue.title}}"
          ISSUE_URL="${{github.event.issue.url}}"
          ISSUE_NUMBER="${{github.event.issue.number}}"
          
          PROJECT_BOARD_ID=5484631
          PROJECT_TODO_COL_ID=10860613
          PROJECT_IN_PROGRESS_COL_ID=10860614
          PROJECT_DONE_COL_ID=10860615
          PROJECT_BOARD_URL="https://github.com/d12/GitHub-Actions-Testing/projects/1"
          
          if [ "$ACTION" != "assigned" ]
          then
            echo "Not an assigned issue, bailing."
            exit 0
          fi
          
          MATCHING_LABEL_COUNT=$(echo '${{toJson(github.event.issue.labels)}}' | jq '.[].name' | grep -w "test" | wc -l)
          
          if [ "$MATCHING_LABEL_COUNT" == "1" ]
          then
            echo "Issue has matching label, continuing"
          else
            echo "Issue does not have matching label, exiting"
          fi
          
          echo "Looking for project card ID..."
          curl \
          --url https://api.github.com/repos/d12/GitHub-Actions-Testing/issues/${ISSUE_NUMBER}/comments \
          -sS \
          --header 'authorization: Bearer ${{ secrets.GITHUB_TOKEN }}' > comments_payload
           
          CARD_ID=$(cat comments_payload | jq '.[].body' | grep -oP "Card ID: \d+" | grep -oP "\d+" | tail -1)
          
          echo "Found card ID ${CARD_ID}. Moving to TODO."
          
          curl \
          --url https://api.github.com/projects/columns/cards/${CARD_ID}/moves \
          -sS \
          -X POST \
          --header 'authorization: Bearer ${{ secrets.GITHUB_TOKEN }}' \
          -d "{\"position\":\"body\", \"column_id\":${PROJECT_TODO_COL_ID}}"
          
          echo "Card moved to TODO."
          
          echo "Creating a comment on the issue..."
          
          curl \
          --url https://api.github.com/repos/d12/GitHub-Actions-Testing/issues/${ISSUE_NUMBER}/comments \
          -sS \
          -X POST \
          --header 'authorization: Bearer ${{ secrets.GITHUB_TOKEN }}' \
          -d "{\"body\":\"Beep boop. I noticed you've assigned this issue so I moved it to TODO on the [project board](${PROJECT_BOARD_URL}) for you.\"}"
          
