name: Project Automation - Mover to Todo

on:
  issues:
    types: [assigned, unassigned]
    
jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - name: Move to TODO
        run: |
          ACTION="${{github.event.action}}"
          ISSUE_TITLE="${{github.event.issue.title}}"
          ISSUE_URL="${{github.event.issue.url}}"
          ISSUE_NUMBER="${{github.event.issue.number}}"
          
          PROJECT_BOARD_ID=5484631
          PROJECT_TODO_COL_ID=10860613
          PROJECT_IN_PROGRESS_COL_ID=10860614
          PROJECT_DONE_COL_ID=10860615
          
          if [ "$ACTION" != "assigned" ]
          then
            echo "Not an assigned issue, bailing."
            exit 0
          fi
          
          MATCHING_LABEL_COUNT=$(echo '${{toJson(github.event.issue.labels)}}' | jq '.[].name' | grep -w "test" | wc -l)
          
          if [ "$MATCHING_LABEL_COUNT" == "1" ]
          then
            echo "Issue has matching label, continuing"
          else
            echo "Issue does not have matching label, exiting"
          fi
          
          echo "Looking for project card ID..."
          curl \
          --url https://api.github.com/repos/d12/GitHub-Actions-Testing/issues/${ISSUE_NUMBER}/comments \
          -sS \
          --header 'authorization: Bearer ${{ secrets.GITHUB_TOKEN }}' > comments_payload
           
          cat comments_payload | jq '.[].body' 
          
          echo "Printing the other thing"
          
          grep -v
          cat comments_payload | jq '.[].body' | grep "Card ID"
          
          echo "Done"
